.menuButton {
  background: none;
  border: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButton:hover {
  cursor: pointer;
}

@media (max-width: 494px) {
  .navLinksWrap {
    position: absolute;
    flex-direction: column;
    right: -24px;
    background: lightslategrey;
    top: 45px;
    padding: 12px 28px;
  }
}

@media (min-width: 495px) {
  .menuButton {
    display: none;
  }

  .navLinksWrap{
    display: flex !important;
    padding: 0;
  }
}